parameters:
  paths:
    - /source/src
  level: 8
  bootstrapFiles:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  scanDirectories:
    - phar:///source/vendor/Commando.phar/src/
  excludePaths:
    analyse:
      - source/vendor
  ignoreErrors:
  	- '#[a-zA-Z0-9\\_]+ type has no value type specified in iterable type [a-zA-Z0-9\\_]+.#'